<!DOCTYPE html>
<html>
  <head>
    <title>Unit 2 Assessment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>To Do List</h1>
    <% if (todos.length) { %>
      <% todos.forEach(function(todo, idx) { %>
        <hr>
        <article>
          <form action="/todos/<%= idx %>?_method=DELETE" method="POST">
            <button type="submit">DELETE</button>
          </form>
        </article>
      <% }) %>
    <% } else { %>
      <h2>There are no To Dos yet!</h2>
    <% } %>
    <form action="/todos" method="POST">
      <input name="model" placeholder="Model" type="text">
      <button type="submit">ADD TO DO</button>
    </form>
  </body>
</html>